* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    padding-bottom: 20px;
    background-image: var(--background-url);
    background-size: cover; 
    background-repeat: repeat-y;
    background-position: center;
    /* position: relative; */
    display: flex;
    flex-direction: column;
}

footer {
    position: fixed;
    width: 25%;
    bottom: 0;
    right: 0;
    background-color: rgb(164, 217, 235);
    color: black;
    padding: 10px;
    text-align: left;
}

.content {
    flex-grow: 1;
    margin-top: 20px; 
}

.footer-container {
    width: fit-content;
    margin: auto;
}

.footer-links {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.footer-links a {
    text-decoration: none;
    color: rgb(100, 100, 100);
    font-size: 14px;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #007bff;
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 80%; 
}

.contact-container p {
    margin: 10px 0;
}

.highlight-title-text{
    color: #e67f7f;
    font-size: 1.2em; 
    font-weight: bold;
}

.highlight-main-text{
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.highlight-main-text:hover {
    text-decoration: none;
    color: #009688;
    transform: scale(1.1);
}

header.highlight-main-text h1:hover {
    text-decoration: none;
    color: #009688;
    transform: scale(1.1);
}

/* #################### start #################### */

.seach-engine-name {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

header.seach-engine-name h1:hover {
    text-decoration: none;
    color: #009688;
    transform: scale(1.1);
}
.search-bar {
    position: relative;
    display: flex;
    align-items: center;
}

.search-bar input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    padding-right: 30px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
}

.search-bar .clear-btn {
    position: absolute;
    right: 10px;
    top: 40%;
    transform: translateY(-50%);
    background: none;
    border: none;
    padding: 0;
    font-size: 1.2em;
    cursor: pointer;
    color: #333;
    visibility: hidden; 
}

.search-bar .clear-btn:hover {
    color: #666;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 15px;
    /* background: #f8f9fa; */
}
.search-box {
    width: 100%;
    max-width: 500px;
    margin: auto;
}
.search-box h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}
.search-box input[type="text"] {
    width: 100%;
    /* width: calc(100% - 40px); */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
}
.search-box input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 1em;
    cursor: pointer;
}
.search-box input[type="submit"]:hover {
    background-color: #0056b3;
}

#crawl-queue-link {
    margin-top: 20px; /* Adjust as needed */
    margin-bottom: 20px; /* Adjust as needed */
    text-align: center;
}

#crawl-queue-link a {
    text-decoration: none;
}

/* #################### crawl_queue #################### */

.crawl_queue-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 15px;
    /* background: #f8f9fa; */
}

.crawl_queue-container label {
    display: block;
    width: 100%;
    font-size: 1.2em;
    color: red;
    margin-bottom: 20px;
    text-align: center;
}

#your-webzone-crawler {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

#your-webzone-crawler p,
#your-webzone-crawler h1 {
    display: inline;
    margin-left: 2px; /* Adjust as needed */
    margin-right: 2px; /* Adjust as needed */
}

/* #################### result #################### */


header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}
header h1 {
    margin-bottom: 10px;
}
header form {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
header input[type="text"] {
    flex: 1;
    /* width: 100%; */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
}
header input[type="submit"] {
    flex: 1;
    /* width: 100%; */
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 1em;
    cursor: pointer;
}
header input[type="submit"]:hover {
    background-color: #0056b3;
}
.result-list {
    list-style: none;
    padding: 0;
}
.result-list li {
    background: #E0EDF4;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 5px;
}
.result-list li a {
    color: blue;
    text-decoration: none;
}
.result-list li a:hover {
    text-decoration: underline;
}
.url {
    color: #006621;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}
.highlight {
    color: #1e222b;
}
.description {
    color: #545454;
}
.last-updated {
    color: #666;
    font-size: 0.9em;
}
header a {
    text-decoration: none;
    color: inherit;
    font-size: 1.2em;
    transition: transform 0.3s ease, color 0.3s ease;
}

#curr_search_query {
    font-size: 1.1em;
    color: rgba(255, 255, 255, 0.8);
    text-align: left;
    margin-top: 1px;
    margin-bottom: 5px;
    padding: 10px;
    background-color: #009688;
    border-radius: 5px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    /* width: auto; */
    width: 100%;
    display: inline-block;
    max-width: 100%;
}

.load-more-button {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 1em;
    position: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.load-more-button:hover {
    background-color: #0056b3;
}