<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>WebZone Search</title>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon" />
        <style>
            :root {
                --background-url: url("{{ url_for("static", filename="images/bg_start.png") }}");
            }
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </head>
    <body>
        <div class="search-container">
            <div class="search-box">
                <header class="highlight-main-text">
                    <!-- <img src="{{ url_for('static', filename='images/logo.png') }}" alt="WebZone" /> -->
                    <h1>WebZone</h1>
                </header>
                {% if index_name %}
                <div id="index-name">
                    <p>Index: "{{ index_name }}"</p>
                </div>
                {% endif %}
                <form action="{{ url_for('search')}}" method="get">
                    <div class="search-bar">
                        <input
                            class="bar-input"
                            type="text"
                            name="q"
                            id="searchInput"
                            placeholder="What are you looking for?"
                            autofocus
                            oninput="showClearButton()"
                        />
                        <button
                            type="button"
                            id="clearButton"
                            onclick="clearSearch()"
                            class="clear-btn"
                            style="visibility: hidden"
                        >
                            &#x2715;
                        </button>
                    </div>
                    <!-- <input type="text" name="q" placeholder="What are you looking for?" autofocus /> -->
                    <input type="submit" value="Search" />
                </form>
                <div id="crawl-queue-link">
                    <a href="{{ url_for('crawl_queue') }}">
                        <h1 class="highlight-main-text">
                            <p style="color: #e67f7f">Make It Your Own Web Corner</p>
                        </h1>
                    </a>
                </div>
            </div>
        </div>

        <footer>
            <div class="footer-container">
                <div class="footer-links">
                    <a href="{{ url_for('start') }}">Home</a>
                    <a href="{{ url_for('search') }}">Search</a>
                    <a href="{{ url_for('crawl_queue') }}">Crawl-Queue</a>
                    <a href="{{ url_for('about') }}">About</a>
                    <a href="{{ url_for('contact') }}">Contact</a>
                    <a href="https://github.com/MoeMj1019/search_engine_ai-web" target="_blank">Documentation</a>
                </div>
            </div>
        </footer>
    </body>
</html>
